@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  padding: 10px 20px;
    margin: 20px;
    background: #2a2a2a;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 17px;
    right: 100px;
    border-radius: 20px;
    cursor: pointer;
}